<ng-container *ngIf="checkboxGroup">
    @for (checkbox of checkboxGroup.checkboxes; track checkbox) {
        <li nz-menu-item>
            <label nz-checkbox class="override-checkbox" [(ngModel)]="checkbox.checked" (ngModelChange)="onCheckboxGroupChange(checkbox)">
            {{ checkbox.label }}
            </label>
        </li>
    }
</ng-container>
<ng-container *ngIf="menuItem">
    <ng-container [ngSwitch]="menuItem.type">
        <ng-container *ngIf="(menuItem.children || []).length === 0">
            <li nz-menu-item *ngSwitchCase="'item'" (click)="onItemClick(item)">
                {{ menuItem.label }}
            </li>
        </ng-container>

        <li nz-menu-divider *ngSwitchCase="'divider'"></li>
        <li nz-menu-item *ngSwitchCase="'checkbox'">
            <label nz-checkbox class="override-checkbox" [(ngModel)]="menuItem.checked">
                {{ menuItem.label }}
            </label>
        </li>
        <li class="sub-menu-head" nz-menu-item *ngIf="menuItem.children" nz-dropdown [nzDropdownMenu]="subMenu"
            [(nzVisible)]="visibleSubMenu" (nzVisibleChange)="onVisibleChange($event)" nzTrigger="click"
            [nzPlacement]="placement" nzOverlayClassName="my-class" [nzClickHide]="false">
            <nz-row nzAlign="middle" nzJustify="space-between">
                <nz-col nzSpan="20">
                    <a>
                        {{ menuItem.label }}
                    </a>
                </nz-col>
                <nz-col nzSpan="4">
                    <a nz-dropdown>
                        <i nz-icon nzType="right"></i>
                    </a>
                </nz-col>
            </nz-row>

            <nz-dropdown-menu #subMenu="nzDropdownMenu">
                <ul nz-menu>
                    <app-menu-item *ngFor="let subItem of menuItem.children" [item]="subItem"
                        (close)="onChildClose()"></app-menu-item>
                </ul>
            </nz-dropdown-menu>
        </li>
    </ng-container>
</ng-container>
